@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "./variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 32px;
  font-weight: 700;
  background-color: $light-gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 450px;
  height: 500px;
  background-color: $vlight-gray;
  border-radius: $small;
  padding-top: $small;
  color: $vdark-grayish-yellow;
}
